<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kinneret College - Advanced OS course.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1>C KeyLogger project</h1>
      <p>This is a real evil keylooger!</p>
      <p>Created by Yonatan Orozko & Ilona Geften for educational purposes Only!</p>
      <p>Here are the LOGS:</p>
    </div>
    <table class="table">
      <tr>

        <td>TIME</td>
        <td>LOGS</td>

      </tr>

      {% for key in logs %}
      <tr>
        <td> {{ key }} </td>
        <td> {{ logs[key] }} </td>
      </tr>
      {% endfor %}
    </table>



</body>

</html>